/* Medium Layout: 1280px */

@media only screen and (min-width: 992px ) and (max-width: 1200px){
    
}
/* Tablet Layout: 768px */

@media only screen and (min-width: 768px ) and (max-width: 991px){
    
.banner-content h1 {
    font-size: 35px;
    line-height: 45px;
}

.course-body h3 {
    font-size: 20px;
  }
.course-body h5 {
    font-size: 16px;
  }
.course-footer {
    display: block;
  }
  .info-item {
    margin: 10px;
  }






}
/* Mobile Layout: 320px */

@media only screen and (max-width: 767px){
    
.banner-content h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .banner-content h5 {
    font-size: 16px;
  }
  .info-item {
    margin: 10px 30px;
  }
  .single-course {
    margin: 10px 30px;
  }
  .testimonial-item {
    display: block;
    text-align: center;
  }
  .testimonial-item p {
    padding-top: 15px;
  }
  
.footer-item {
    text-align: center;
    margin: 10px 20px;
  }
}
/* Medium Layout: 1280px */

@media only screen and (min-width: 480px ) and (max-width: 767px){

}